*{
    margin: 0;
    padding: 0;
}

body{

}

.intro{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    line-height: 30px;
}

.registeration-form{
    width: 70%;
    border: 2px solid;
    margin: 0 auto;
    padding: 2%;
    background-color: #EAF0F1;
}

.successful{
    margin: 5% auto;
    padding: 5%;
}

.successful > .image{
    margin: 0 auto;
    width: 40%;
    text-align: center;
    color: #5db669;
}

.successful a{
    text-decoration: none;
    margin: 20px auto;
    display: block;
    width: 10%;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
}


